html, header, body {
    padding: 0px;
    margin: 0px;
    background: #161616;
    color: #ada666;
    font-size: 32px;
}

div {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}